/* 共通で利用*/
body {
        width:100%;
        margin:0px;
        padding:0px;
        text-align:center;
        font-family: 'webフォント';
font-size: 14px;
}

/* 回り込み設定 */ 
.float{
        float:left;
}

.float-area:after {
          content: ""; 
          display: block; 
          height: 0; 
          font-size:0;	
          clear: both; 
          visibility:hidden;
}
.text-left { text-align:left;}
.text-center { text-align:center;}
.text-right { text-align:right;}

/* 余白設定 */
.p5  { padding: 5px;}
.p10 { padding:10px;}
.p15 { padding:15px;}

/* 改行 */
.newline { 
    display:block;
    line-height:150%;
}

/* float時の横幅指定 */
.w10p { width:10%; }
.w20p { width:20%; }
.w30p { width:30%; }
.w40p { width:40%; }
.w50p { width:50%; }
.w60p { width:60%; }
.w70p { width:70%; }
.w80p { width:80%; }
.w90p { width:90%; }
.w100p { width:100%; }

.non-decoration {
    text-decoration: none;
}

.display-none {
    display:none;
}
footer {
    position: absolute;
    bottom: 0px;  /*iPhoneの高さバー*/
    left: 0px;
    width: 100%;
    height:70px;
}

.iphone-footer {
    bottom: -60px;  /*iPhoneの高さバー*/    
}
/* フッターボタン */
.footer-btn {
        float:left;
        width:24.37%;
        height:70px;
        border:1px solid gray;
        padding:0px;
        margin:0px;
        color:white;

        background: -webkit-gradient(linear, left top, left bottom, color-stop(0.00, #303030), color-stop(1.00, #000));
        background: -webkit-linear-gradient(#303030, #000);
        background: -moz-linear-gradient(#303030, #000);
        background: -o-linear-gradient(#303030, #000);
        background: -ms-linear-gradient(#303030, #000);
        background: linear-gradient(#303030, #000);

}

.footer-active {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.00, #272727), color-stop(1.00, #989898));
    background: -webkit-linear-gradient(#272727, #989898);
    background: -moz-linear-gradient(#272727, #989898);
    background: -o-linear-gradient(#272727, #989898);
    background: -ms-linear-gradient(#272727, #989898);
    background: linear-gradient(#272727, #989898);


        opacity:1;
}

/*
.modal-view {
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:480px;
    z-index:10;
    background:rgba(0,0,0,0.7);
}

.modal-main-view {
    width:80%;
    height:400px;
   
    background:white;
    border:1px solid white;
    border-radius:10px;
    box-shadow:1px 1px 1px #ABABAB;
    
    margin:5% auto;
    
}
*/

#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}

#modal-view {
    width:90%;
    height:80%;
   
    background:white;
    border:1px solid white;
    border-radius:10px;
    box-shadow:1px 1px 1px #ABABAB;
    
    margin:10% auto;
}

.modal_close {
	position: absolute;
	top: 12px;
	right: 12px;
	display: block;
	width: 14px;
	height: 14px;
	background: url('https://dl.dropbox.com/u/59384927/jquery/HTML/MODAL/leanmodal/modal_close.png');
	z-index: 2;
}

/* タブ */
.tab-btn {
    color:gray;
    font-size:12px;
    background:rgba(100,100,100,0.2);
    height:40px;
    line-height: 40px;
    cursor: pointer;
    border-bottom:1px solid rgba(100,100,100,0.5);
    
}
.tab-on {
    color:black;
    font-size:16px;
    background:rgba(255,255,255,0);
    border-bottom:0px;
}

.lendborrow-table {
    width:80%;
    margin:5px auto;
    border-spacing: 0;
    border: 1px solid #CCC;
    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
         -o-border-radius: 6px;
            border-radius: 6px;
    box-shadow: 0 1px 1px #CCC;    
}
.lendborrow-table th{
    padding:5px 0px;
    border-bottom:solid 1px #CCC;
    border-right:solid 1px #CCC;
    
    background:#e3dcd5;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
    color:#69655c;    
}
.lendborrow-table td {
    padding:5px 0px;
    background:#FFF;
    border-bottom:solid 1px #CCC;
    border-right:solid 1px #CCC;
}


.btn {
    margin:5px;
    padding:5px 10px;
}
.btn-blue {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.00, #2c7bff), color-stop(1.00, #021ecd));
    background: -webkit-linear-gradient(#2c7bff, #021ecd);
    background: -moz-linear-gradient(#2c7bff, #021ecd);
    background: -o-linear-gradient(#2c7bff, #021ecd);
    background: -ms-linear-gradient(#2c7bff, #021ecd);
    background: linear-gradient(#2c7bff, #021ecd);
    color:white;
}

.btn-red {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.00, #ff5a00), color-stop(1.00, #cd0000));
    background: -webkit-linear-gradient(#ff5a00, #cd0000);
    background: -moz-linear-gradient(#ff5a00, #cd0000);
    background: -o-linear-gradient(#ff5a00, #cd0000);
    background: -ms-linear-gradient(#ff5a00, #cd0000);
    background: linear-gradient(#ff5a00, #cd0000);
    color:white;
}
.btn-green {
background: -webkit-gradient(linear, left top, left bottom, color-stop(0.00, #3d8c39), color-stop(1.00, #203625));
background: -webkit-linear-gradient(#3d8c39, #203625);
background: -moz-linear-gradient(#3d8c39, #203625);
background: -o-linear-gradient(#3d8c39, #203625);
background: -ms-linear-gradient(#3d8c39, #203625);
background: linear-gradient(#3d8c39, #203625);

    color:white;
}