/* 共通で利用*/
body {
    width:100%;
    margin:0px;
    padding:0px;
    text-align:center;
    font-family: 'webフォント';
    font-size: 14px;
}

.lendborrow-table {
    width:80%;
    margin:0px auto;
    border-spacing: 0;
    border: 1px solid #CCC;
    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
         -o-border-radius: 6px;
            border-radius: 6px;
    box-shadow: 0 1px 1px #CCC;    
}
.lendborrow-table th{
    padding:5px 0px;
    border-bottom:solid 1px #CCC;
    border-right:solid 1px #CCC;
    
    background:#e3dcd5;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
    color:#69655c;    
}
.lendborrow-table td {
    padding:5px 0px;
    background:#FFF;
    border-bottom:solid 1px #CCC;
    border-right:solid 1px #CCC;
}
.to-login {
    margin:10px 0px;
}



/* ページヘッダー*/
.header {
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0.00, #b4ddfe), color-stop(1.00, #0d4996));
        background: -webkit-linear-gradient(#b4ddfe, #0d4996);
        background: -moz-linear-gradient(#b4ddfe, #0d4996);
        background: -o-linear-gradient(#b4ddfe, #0d4996);
        background: -ms-linear-gradient(#b4ddfe, #0d4996);
        background: linear-gradient(#b4ddfe, #0d4996);

        height:44px;
        inner-height:40px;
        color:white;
}

h1 {
    font-size: 18px;
    font-weight: bold;
    line-height: 40px;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}
h2 {
    font-size: 16px;
    font-weight: bold;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;    
}
/* 改行 */
.newline { 
    display:block;
    line-height:150%;
}

.attention {
    font-size:10px;
    text-align:left;
    padding:5px;
    margin:5px;
    border:1px solid black;
    border-radius:10px;
    
}

footer {
    text-align: right;
    font-style: italic;
    color: #666666;
    line-height: 1.5em;
    font-size:10px;
}

/* ヘルプページ */
.help-area {
    margin:10px;
    padding:10px;
}

.help-contents {
    padding: 5px;
    margin: 10px;
    border: 1px solid black;
    border-radius:10px;
    box-shadow: 1px 1px 1px gray;
}


a {
    text-decoration: none;
}



.btn-blue {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.00, #2c7bff), color-stop(1.00, #021ecd));
    background: -webkit-linear-gradient(#2c7bff, #021ecd);
    background: -moz-linear-gradient(#2c7bff, #021ecd);
    background: -o-linear-gradient(#2c7bff, #021ecd);
    background: -ms-linear-gradient(#2c7bff, #021ecd);
    background: linear-gradient(#2c7bff, #021ecd);
    color:white;
}
