body {
    background: #F2EDE7;
}

/* ページヘッダー*/
.header {
    background: #6D4A37;
    color:white;
    height: 32px;
    padding-top: 12px;
}

h1 {
    font-size: 15px;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}


.couldnot-area {
    position: absolute;
    z-index: 10;
    background: rgba(124, 124, 124, 0.76);
    width: 100%;
    height: 186px;
    color: white;
    line-height: 11;
}












.head-title {
    width:60%;
}
.head-left-btn {
    width:20%;    
    padding-top:10px;
}
.head-right-btn {
    width:20%; 
    padding-top:10px;
}


.header-back-btn {
    width:20%;
    padding-top:10px;
    color:white;
}
.header-cansel {
    width:20%;
}
.create-pre-btn {
    visibility : hidden;
}

.status {
    font-size:11px;
}


/* スクロールページ */
.records {
    overflow: scroll;
    height:400px;
}

.records a {
    color:black;
}
/* ユーザ名に対する表示 */
.user-record {
    background: #FFF;
    height: 55px;
    border-bottom: 1px solid rgba(0,0,0,0.3);
    box-shadow:0 1px 0 rgba(255,255,255,0.3);
    padding: 5px;
    margin: 5px;
}
/* 既に返却済みの場合は下記のスタイルを適用*/
.already-return-recode {
    background: rgba(240,240,240,0.9);
    color: rgba(64,64,64,0.7);
}

.recode-left {
    text-align:left;
    line-height: 20px;
}

.recode-center {
    text-align:left;
    line-height: 45px;
}

.recode-right {
    text-align:left;
}

.status-view {
    margin-top:5px;
    padding: 0px 5px;
    text-align:left;
}

.status-on {
background: -webkit-gradient(radial, 50% 46%, 0, 50% 46%, 121, color-stop(1.00, #ff7400), color-stop(0.00, #ffa443));
background: -webkit-radial-gradient(50% 46%, circle, #ffa443, #ff7400);
background: -moz-radial-gradient(50% 46%, circle, #ffa443, #ff7400);
background: -o-radial-gradient(50% 46%, circle, #ffa443, #ff7400);
background: -ms-radial-gradient(50% 46%, circle, #ffa443, #ff7400);
background: radial-gradient(50% 46%, circle, #ffa443, #ff7400);
    border-radius:8px;
    color:black;
    font-weight:bold;
    padding:5px;
}

.status-off {
    backgrond:gray;
    color: #808080;
}



/* 新規登録画面 */
/* 全体フロー管理 */
.create-view {
/*    
    overflow: hidden;
    height:350px;    
*/
}

.create-status {
    height: 30px;
    border-bottom: 1px dashed black;
}


/* 新規登録ステータス管理 */
.index-status {
    color: #808080;    
    font-size: 14px;
    cursor:pointer;
}

.status-active {
    color:black;
    font-size:18px;
}

.create-friend-list {
    overflow: scroll;
    height: 45px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 1px 1px 1px #808080;
    margin: 0px 5px;
}
.create-record {
        height: 30px;
        border-bottom: 1px solid rgba(0,0,0,0.2);
        box-shadow:0 1px 0 rgba(255,255,255,0.3);
        padding: 5px;
        margin: 5px 0px;    
}

.add-friend-area {
    margin-top: 20px;    
}


.create-input-box {
    margin: 10px 5px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 1px 1px 1px #808080;
    color: gray;
    text-align: center;
}
.input-box {
    margin: 5px;
    font-size: 14px;
}

.record-img {
    zoom:60%;
}

.lendborrow-nothing {
    line-height: 300px;
}

.message-area {
    margin: 10px 0px;
    padding: 5px;
}

.non-display {
    display:none;
}

.regist-btn {
    padding: 5px;
    width: 100px;
    font-size: 22px;
}

/**
* 貸し借り追加ボタン
*/
.lendborrow-add-btn {
    text-decoration: none;
    color: white;
    padding: 5px;
    cursor:pointer;
}

/**
* 貸し借りリストの表示の際の貸借表のスタイル
*/
.balance-sheet {
    background: #FFF;
    border: 1px dashed black;
    margin: 5px        
}

.balance-sheet-comment {
    font-size: 14px;
    color: red;
    margin: 5px 0px;
}

.balance-sheet-boundary {
    border-top:1px solid black;
}

section a,header a {
    text-decoration: none;
    color:black;
    cursor: auto;
}

/**
 * TOP　精算処理待ち
 */
.expense-report-comment {
    font-size: 12px;
    color: gray;
    padding-top: 10px;
}

/**
* 設定画面
*/ 
.setting-user-info {
    margin:5px 10px;
}

/*
* 通知設定画面
*/


/**
 * モーダルビュー
 */
.modal-view {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(80,80,80,0.4);
    z-index: 10;
    display:none;
}

.modal-menu {
    position: absolute;
    top: 10%;
    left: 15%;
    width: 65%;
    height: 70%;
    background: rgba(255,255,255, 1);
    padding: 10px;
    z-index: 20;
    
    border-radius: 10px;
    border: 1px solid white;
    
}
.modal-menu ul {
    list-style: none;
    padding: 0px;
}

.modal-menu li {
    text-align: center;
    padding: 10px 0px;
    margin: 10px auto;
    width: 150px;
    
    background: -moz-linear-gradient(top,#0099CC 0%,#006699);
    background: -webkit-gradient(linear, left top, left bottom, from(#0099CC), to(#006699));
    border: 2px solid #FFF;
    color: #FFF;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-box-shadow: 1px 1px 1px rgba(000,000,000,0.3);
    -webkit-box-shadow: 1px 1px 1px rgba(000,000,000,0.3);
    text-shadow: 0px 0px 3px rgba(0,0,0,0.5);
}

/*返済処理*/
.adjustment-check {
    line-height: 60px;
}
.adjustment-status {
    line-height: 60px;
    font-size:16px;
}