
/* ページヘッダー*/
.header {
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0.00, #b4ddfe), color-stop(1.00, #0d4996));
        background: -webkit-linear-gradient(#b4ddfe, #0d4996);
        background: -moz-linear-gradient(#b4ddfe, #0d4996);
        background: -o-linear-gradient(#b4ddfe, #0d4996);
        background: -ms-linear-gradient(#b4ddfe, #0d4996);
        background: linear-gradient(#b4ddfe, #0d4996);

        height:44px;
        inner-height:40px;
        color:white;
}

h1 {
        font-size: 18px;
        font-weight: bold;
        line-height: 40px;
        -webkit-margin-before: 0em;
        -webkit-margin-after: 0em;
}

.head-title {
    width:60%;
}
.head-left-btn {
    width:20%;    
    padding-top:10px;
}
.head-right-btn {
    width:20%; 
    padding-top:10px;
}


.header-back-btn {
    width:20%;
    padding-top:10px;
    color:white;
}
.header-cansel {
    width:20%;
}
.create-pre-btn {
    visibility : hidden;
}

.status {
    font-size:11px;
}


/* スクロールページ */
.records {
    overflow: scroll;
    height:400px;
}

.records a {
    color:black;
}
/* ユーザ名に対する表示 */
.user-record {
        height: 55px;
        border-bottom: 1px solid rgba(0,0,0,0.2);
        box-shadow:0 1px 0 rgba(255,255,255,0.3);
        padding: 5px;
        margin: 5px 0px;
}


.recode-left {
    text-align:left;
}

.recode-center {
        text-align:left;
        line-height: 45px;
}

.recode-right {
    text-align:left;
}

.status-view {
    margin-top:5px;
    padding: 0px 5px;
    text-align:left;
}

.status-on {
background: -webkit-gradient(radial, 50% 46%, 0, 50% 46%, 121, color-stop(1.00, #ff7400), color-stop(0.00, #ffa443));
background: -webkit-radial-gradient(50% 46%, circle, #ffa443, #ff7400);
background: -moz-radial-gradient(50% 46%, circle, #ffa443, #ff7400);
background: -o-radial-gradient(50% 46%, circle, #ffa443, #ff7400);
background: -ms-radial-gradient(50% 46%, circle, #ffa443, #ff7400);
background: radial-gradient(50% 46%, circle, #ffa443, #ff7400);
    border-radius:8px;
    color:black;
    font-weight:bold;
    padding:5px;
}

.status-off {
    backgrond:gray;
    color: #808080;
}



/* 新規登録画面 */
/* 全体フロー管理 */
.create-view {
/*    
    overflow: hidden;
    height:350px;    
*/
}

.create-status {
    height: 30px;
    border-bottom: 1px dashed black;
}


/* 新規登録ステータス管理 */
.index-status {
    color: #808080;    
    font-size: 14px;
    cursor:pointer;
}

.status-active {
    color:black;
    font-size:18px;
}

.create-friend-list {
    overflow: scroll;
    height: 45px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 1px 1px 1px #808080;
    margin: 0px 5px;
}
.create-record {
        height: 30px;
        border-bottom: 1px solid rgba(0,0,0,0.2);
        box-shadow:0 1px 0 rgba(255,255,255,0.3);
        padding: 5px;
        margin: 5px 0px;    
}

.add-friend-area {
    margin-top: 20px;    
}


.create-input-box {
    margin: 10px 5px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 1px 1px 1px #808080;
    color: gray;
    text-align: center;
}
.input-box {
    margin: 5px;
}

.record-img {
    zoom:60%;
}

.lendborrow-nothing {
    line-height: 300px;
}

.message-area {
    margin: 10px 0px;
    padding: 5px;
}

.non-display {
    display:none;
}

.regist-btn {
    padding: 5px;
    width: 100px;
    font-size: 22px;
}

/**
* 貸し借り追加ボタン
*/
.lendborrow-add-btn {
    text-decoration: none;
    color: white;
    padding: 5px;
}

/**
* 貸し借りリストの表示の際の貸借表のスタイル
*/
.balance-sheet {
    border: 1px dashed black;
    margin: 5px
}

.balance-sheet-boundary {
    border-top:1px solid black;
}

section a,header a {
    text-decoration: none;
    color:black;
    cursor: auto;
}